meta(charset="utf-8")
meta(http-equiv="x-ua-compatible", content="ie=edge")
meta(name="viewport", content="width=device-width, initial-scale=1")

include favicon

link(rel="stylesheet", href="assets/stylesheets/carapace-modules.min.css")
link(rel="stylesheet", href="assets/stylesheets/style.min.css")

if pageTitle
  title #{pageTitle}

if pageDescription
  meta(name="description", content=pageDescription)

